/*
.intrinsic-box {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 56.25%;
} */

body{
  background-color:#dddddd;
}

a-scene.aframebox {
    height: 600px;
    width: 80%;
    }

.text-field{
  padding-top:5rem;
}
